/* Global */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.container {
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a, a:hover {
    text-decoration-line: none;
}

/* Header */
header {
    background-color: #352B2F;
    color: rgba(243, 222, 138, 0.6);
}

header nav {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
}

header #nav-left {
    float: left;
}
header #nav-right {
    float: right;
}

header ul {
    margin: auto;
}

header #nav-left li {
    padding: 18px;
}

header #nav-right li {
    padding: 5px;
}

header #nav-right li:last-child {
    margin-right: 0;
}

header #nav-right li:last-child a {
    margin-left: 15px;
    padding-left: 5px;
}

header a {
    text-transform: uppercase;
    color: rgba(243, 222, 138, 0.6);
    font-size: 12px;
    font-weight: bold;
}

header a:hover {
    color: rgb(243, 222, 138);
}

header .current {
    background-color: rgba(243, 222, 138, 0.6);
}

header #home {
    margin-right: 15px;
}

header #home:hover {
    background-color: rgb(243, 222, 138);
}

header span {
    color: #352B2F;
    font-size: 12px;
}

header #nav-right i {
    font-size: 14px;
}

header #icon-search {
    margin-left: 10px;
}

/* Showcase */
#showcase {
    text-align: center;
}

#showcase #branding {
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 140px 450px;
    color: #ffffff;
    cursor: pointer;
    /* background: linear-gradient(to right, violet, blue); */
    /* border: 10px solid rgba(243, 222, 138, 0.6);
    border-radius: 50px; */
}

#showcase #branding img {
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
}

#showcase #branding h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 2px solid rgba(243, 222, 138, 0.6);
}

#showcase #slogan {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    display: inline;
    border: 2px solid rgba(243, 222, 138, 0.6);
    /* border-radius: 20px; */
}

#showcase #since {
    font-size: 10px;
    color: rgba(243, 222, 138, 0.6);
    margin-top: 12px;
    font-weight: bolder;
}

#showcase .video-wrapper {
    position: relative;
	padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: -20%;
}

#showcase iframe {
    position: absolute;
    /* top: -30%; */
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Main Content */
#main-content {
    background-color: #211D1E;
}

#main-content article {
    float: left;
    width: 75%;
    overflow: hidden;
}

#main-content #column-1 {
    float: left;
    margin: 30px 25px 25px 40px;
}

#main-content #column-2 {
    float: right;
    margin: 30px 25px 25px 25px;
}

#main-content aside {
    float: right;
    width: 25%;
}

#main-content .content-cover {
    width: 400px;
    margin-bottom: 25px;
}




#main-content #introduce {
    margin: 30px 40px 25px 25px;
}

#main-content #intro-cover {
    width: 100%;
}

#main-content #intro-avatar {
    width: 120px;
    height: 120px;
    border-radius: 200px;
}

/* Follow */
#follow {
    background-color: #211D1E;
}

#follow h2 {
    margin: 0;
}

/* Footer */
footer {
    background-color: #352B2F;
}

footer p, footer a {
    margin: auto;
    padding: 15px 0;
    text-align: center;
    color: rgba(256, 256, 256, 0.6);
    font-size: 15px;
}

footer a {
    color: rgba(243, 222, 138, 0.6);
}

footer a:hover {
    color: rgb(243, 222, 138);
}