/* Global */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}

.container {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a, a:hover, a:active {
    text-decoration-line: none;
}

/* Header */
header {
    background-color: #352B2F;
    color: rgba(243, 222, 138, 0.6);
}

header nav {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
}

header #nav-left {
    float: left;
}

header #nav-right {
    float: right;
}

header ul {
    margin: 0;
}

header #nav-left li {
    padding: 20.5px;
}

header #nav-right li {
    padding: 5px;
}

header #nav-right a {
    color: #D4A35C;
}

header #nav-right a:hover {
    color: rgba(243, 222, 138, 0.6);
}

header #nav-right li:last-child {
    margin-right: 0;
}

header #nav-right li:last-child a {
    margin-left: 15px;
    padding-left: 5px;
    color: rgba(243, 222, 138, 0.6);
}

header #nav-right li:last-child i {
    color: #D4A35C;
}

header a {
    text-transform: uppercase;
    color: rgba(243, 222, 138, 0.6);
    font-size: 12px;
    font-weight: bold;
}

header a:hover {
    color: #D4A35C;
}

header .current {
    background-color: #D4A35C;
}

header #home {
    margin-right: 15px;
}

header #home:hover {
    background-color: #D4A35C;
}

header span {
    color: #352B2F;
    font-size: 12px;
}

header #menu-button {
    display: none;
}

header #nav-right i {
    font-size: 14px;
}

header #icon-search {
    margin-left: 10px;
}

/* Header - Dropdown */
#nav-left i {
    font-size: 14px;
}

#nav-left ul {
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    background: #392F32;
    z-index: 10;
    min-width: 140px;
    padding: 12px 0;
}

.dropdown-content a {
    display: block;
    padding: 10px 22px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Showcase */
#showcase {
    text-align: center;
}

#showcase .container {
    position: relative;
    vertical-align: middle;
}

#showcase #branding {
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    /* margin: 140px 450px; */
    /* margin: auto; */
    color: #ffffff;
    cursor: pointer;
}

#showcase #branding img {
    height: 45px;
    padding: 0 10px 10px 10px;
    border-bottom: 2px solid rgba(243, 222, 138, 0.6);
}

#showcase #branding h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#showcase #slogan {
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    display: inline;
    border: 2px solid rgba(243, 222, 138, 0.6);
    /* border-radius: 20px; */
}

#showcase #since {
    font-size: 10px;
    color: rgba(243, 222, 138, 0.6);
    margin-top: 12px;
    font-weight: bolder;
    padding-bottom: 0;
}

#showcase .video-wrapper {
    position: relative;
	padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: -20%;
}

#showcase iframe {
    position: absolute;
    /* top: -30%; */
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Main Content */
#main-content {
    background-color: #211D1E;
}

#main-content .container {
    position: relative;
}

#main-content article {
    float: left;
    width: 70%;
    overflow: hidden;
    margin: 0;
}

#main-content #column-1 {
    float: left;
    width: 50%;
    padding: 40px 0px 25px 50px;
}

#main-content #column-2 {
    float: right;
    width: 50%;
    padding: 40px 25px 25px 25px;
}

#main-content aside {
    float: right;
    width: 30%;
    position: absolute;
    right: 0px;
}

/* Main Content | Article */
#main-content .content-cover {
    width: 100%;
    margin-bottom: 25px;
}

#main-content .content {
    text-align: center;
    color: rgba(243, 222, 138, 0.6);
    background-color: #352C2F;
    padding-bottom: 30px;
    margin-bottom: 25px;
}

#main-content .content h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1.5px solid #D4A35C;
    display: inline;
    padding: 5px;
    letter-spacing: 5px;
}

#main-content .content h3 a {
    color: rgba(243, 222, 138, 0.6);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#main-content .content h3 a:hover {
    color: #D4A35C;
}

#main-content .content .author {
    font-style: italic;
    font-size: 14px;
}

#main-content .content .author a ,
#main-content .content .author a:hover {
    color: #D4A35C;
    font-size: 14px;
}

#main-content .content .short-content {
    text-align: left;
    padding: 20px 40px;
}

#main-content .content > a {
    color: rgba(243, 222, 138, 0.6);
    font-size: 12px;
    font-weight: bold;
}

#main-content .content > a:hover {
    color: #D4A35C;
}

#main-content .content > a i {
    font-size: 11px;
}

/* Main Content | Page Number */
#page-number {
    float: left;
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
}

#page-number li {
    margin: 0 2px;
}

#page-number li a{
    padding: 12px 15px;
    background-color: #392F32;
}

#page-number a {
    color: rgba(243, 222, 138, 0.6);
}

#page-number a:hover {
    color: #392F32;
    background-color: #D4A35C;
}

#page-number a > i {
    font-size: 15px;
}

#page-number .page-current {
    color: #392F32;
    background-color: #D4A35C;
}

#page-number .page-disable,
#page-number .page-disable:hover {
    background-color: rgba(57, 47, 50, 0.1);
    color: rgba(243, 222, 138, 0.6);
}

/*Main Content | Introduce */
#main-content #introduce {
    margin: 40px 50px 25px 0px;
    text-align: center;
    font-size: 15px;
    position: relative;
    color: #D4A35C;
    background-color: #352C2F;
    padding-bottom: 20px;
}

#main-content #intro-cover {
    width: 100%;
}

#main-content #intro-avatar {
    width: 120px;
    height: 120px;
    border-radius: 200px;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -60px;
}

#main-content #introduce h3 {
    margin-top: 85px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgba(243, 222, 138, 0.6);
    margin-bottom: 20px;
    font-weight: 600;
}

#main-content #intro-content {
    color: rgba(243, 222, 138, 0.6);
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#main-content #introduce i {
    color:#D4A35C;
    font-size: 14px;
}

#main-content #introduce li {
    padding: 5px;
}

#main-content #introduce i:hover {
    color: rgba(243, 222, 138, 0.6);
}

/*Main Content | Other Intro */
#main-content #other-intro {
    background-color: #352C2F;
    color: rgba(243, 222, 138, 0.6);
    margin: 40px 50px 25px 0px;
    text-align: left;
    font-size: 15px;
    padding: 25px 50px;;
}

#main-content #other-intro a {
    color: rgba(243, 222, 138, 0.6);
}

#main-content #other-intro a:hover {
    color: #D4A35C;
}

#main-content #other-intro hr {
    border-top: 0.5px solid rgba(243, 222, 138, 0.6);
    margin: 0;
    padding: 5px 0;
}

#main-content #other-intro p {
    margin: 0;
    padding-bottom: 5px;
}

#main-content #other-intro .intro-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #D4A35C;
}

#main-content #other-intro h3 {
    font-style: italic;
    border-left: 3px solid rgba(243, 222, 138, 0.6);
    padding-left: 15px;
}

/* Follow */
#follow {
    background-color: #211D1E;
    text-align: center;
    color: rgba(243, 222, 138, 0.6);

}

#follow h4 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 8px;
}

#follow a {
    font-size: 12px;
    color: #D4A35C;
}

#follow a:hover {
    color: #D4A35C;
}

/* Footer */
footer {
    background-color: #352B2F;
}

footer p, footer a {
    margin: auto;
    padding: 15px 0;
    text-align: center;
    color: rgba(243, 222, 138, 0.6);
    font-size: 15px;
}

footer a {
    color: #D4A35C;
}

footer a:hover {
    color: #D4A35C;
}

/* Media */
@media screen and (max-width: 768px) {
    #nav-right,
    #nav-left ul {
      display: none;
    }

    header {
        margin-top: 0;
        margin-bottom: 0;
    }

    #nav-left {
        margin: 0;
    }
    
    a#menu-button {
        display: inline;
        padding-left: 13px;
    }

    a#menu-button i {
        font-size: 15px;
        padding: 8px;
    }

    #nav-left:hover ul {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        min-width: 140px;
        background-color: #3A2D32;
    }

    #nav-left:hover ul li {
        display: block;
        padding: 10px 22px;
    }

    #nav-left:hover ul li#home {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #nav-left:hover ul li:first-child {
        /* padding-top: 20px; */
        margin: 0;
    }

    #nav-left:hover ul li:last-child {
        padding-bottom: 20px;
    }

    #nav-left:hover ul li.dropdown .dropdown-content {
        left: 100%;
        top: -15%;
    }

    article,
    aside {
        float: none;
        width: 100%;
    }

    #showcase #branding {
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #showcase #branding img {
        height: 25px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 1px solid rgba(243, 222, 138, 0.6);
    }
    
    #showcase #branding h1 {
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    #showcase #slogan {
        font-size: 8px;
        padding: 5px;
        margin: 0;
        border: 1px solid rgba(243, 222, 138, 0.6);
    }
    
    #showcase #since {
        font-size: 8px;
        margin-top: 0px;
    }
    
    #showcase .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-top: -10%;
    }
    
    #showcase iframe {
        position: absolute;
        /* top: -30%; */
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}